<ion-header>
  <ion-toolbar>
    <ion-title>Hotest</ion-title>
  </ion-toolbar>
  <p>L'état de Hotel</p>
</ion-header>
<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item [button]="true">
      <i class="fa-solid fa-house" color="primary" color="warning" slot="start" name="list-circle" size="large"></i>
      <ion-label>Taux d'occup</ion-label>
      <ion-note slot="end">21.23%</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <i class="fa-solid fa-user-group" color="warning" slot="start" name="list-circle" size="large"></i>
      <ion-label>Clients présents</ion-label>
      <ion-note slot="end">70</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <i class="fa-solid fa-user-plus" color="warning" slot="start" name="list-circle" size="large"></i>
      <ion-label>Arrivées Effectués</ion-label>
      <ion-note slot="end">4</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <i class="fa-solid fa-user-plus" color="warning" slot="start" name="list-circle" size="large"></i>
      <ion-label>Départs Effectués</ion-label>
      <ion-note slot="end">17</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <i class="fa-solid fa-right-from-bracket" slot="start" name="list-circle" size="large"></i>
      <ion-label>Arrivés Prévues</ion-label>
      <ion-note slot="end">78</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <i class="fa-solid fa-right-from-bracket"></i>
      <ion-label>Départs Prévues</ion-label>
      <ion-note slot="end">17</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <i class="fa-solid fa-bed" color="warning" slot="start" name="list-circle" size="large"></i>
      <ion-label>chb. Occupées</ion-label>
      <ion-note slot="end">45</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <i class="fa-solid fa-trophy"></i>
      <ion-label>Chambres Dispo</ion-label>
      <ion-note slot="end">127</ion-note>
    </ion-item>
  </ion-list>

 
  <button><i id="example" class="fa-solid fa-sort-down" style="height: 20%;"></i></button>
  <ion-content class="display-none" id="container" style="display: block;">
  </ion-content>
</ion-content>