<ion-header>
  <ion-toolbar>

   <img src="\assets\icon\01 XLIA.ico" alt="Xlia ico" style="width: 10%; height: 10%;"/> 
  </ion-toolbar>
  
</ion-header>
<ion-content color="light">
  <ion-list [inset]="true">
    <p style="padding-left: 2%;">L'état de Hotel</p>
    <ion-item [button]="true">
      <img src="\assets\icon\house-solid.svg" alt="home" color="primary" style="width: 5%; height:5%;" color="warning" slot="start" name="list-circle" size="large">
      <ion-label>Taux d'occup</ion-label>
      <ion-note slot="end">{{ HotelData.imdbRating }} %</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <img src="\assets\icon\user-group-solid.svg" alt="home" color="primary" style="width: 5%; height: 5%;" color="warning" slot="start" name="list-circle" size="large">
      <ion-label>Clients présents</ion-label>
      <ion-note slot="end">{{ HotelData.imdbVotes}}</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <img src="\assets\icon\user-plus-solid.svg" alt="home" color="primary" style="width: 5%; height: 5%;" color="warning" slot="start" name="list-circle" size="large">
      <ion-label>Arrivées Effectués</ion-label>
      <ion-note slot="end">{{ HotelData.Released}}</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <img src="\assets\icon\arrow-right-from-bracket-solid.svg" alt="home" color="primary" style="width: 5%; height: 5%;" color="warning" slot="start" name="list-circle" size="large">
      <ion-label>Départs Effectués</ion-label>
      <ion-note slot="end">{{HotelData.Runtime}}</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <img src="\assets\icon\arrow-right-to-bracket-solid.svg" alt="home" color="primary" style="width: 5%; height: 5%;" color="warning" slot="start" name="list-circle" size="large">
      <ion-label>Arrivés Prévues</ion-label>
      <ion-note slot="end">{{ HotelData.Year}}</ion-note>
    </ion-item>
    <ion-item [button]="true">
      <i class="fa-solid fa-right-from-bracket" slot="start" name="list-circle" size="large"></i>
      <img src="\assets\icon\shapes.svg" alt="home" color="primary" style="width: 5%; height: 5%;" color="warning" slot="start" name="list-circle" size="large">
      <ion-label>Départs Prévues</ion-label>
      <ion-note slot="end">{{ HotelData.DVD}}</ion-note>
    </ion-item>
   <a href="www.google.com"> <ion-item [button]="true">
      <img src="\assets\icon\bed-solid.svg" alt="home" color="primary" style="width: 5%; height: 5%;" color="warning" slot="start" name="list-circle" size="large">
      <ion-label>chb. Occupées</ion-label>
      <ion-note slot="end">{{HotelData.Metascore}}</ion-note>
    </ion-item>
  </a>
    <ion-item [button]="true">
      <i class="fa-solid fa-trophy" slot="start" name="list-circle" size="large"></i>
      <img src="\assets\icon\trophy-solid.svg" alt="home" color="primary" style="width: 5%; height: 5%;" color="warning" slot="start" name="list-circle" size="large">
      <ion-label>Chambres Dispo</ion-label>
      <ion-note slot="end">127</ion-note>
    </ion-item>
  </ion-list>

 
  <ion-card>
    <ion-card-content>
      <canvas id="myChart" width="400" height="400"></canvas>
    </ion-card-content>
  </ion-card>
  </ion-content>
  
  <button><i id="example" class="fa-solid fa-sort-down" style="height: 20%;"></i></button>
  <ion-content class="display-none" id="container" style="display: block;">
  </ion-content>
</ion-content>
